.hower:hover{
    background-color:rgb(209, 209, 237);
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgb(255, 0, 0);
    color: rgb(26, 35, 126);
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 0.3s;
}