nav li a:hover ,
nav li button:hover{
    color: #ff0000;
}
a .logo{
    mix-blend-mode: multiply;
    filter: contrast(1);
}
.mobile-nav {
    @apply block md:hidden fixed top-1 py-5 px-16 w-full h-full bg-blue-200 z-10 duration-500;
} 